<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section ng-controller="KeyController" class="container-fluid">
		<h2>Mitarbeiter löschen {{paramKeyId}}</h2>
		<button ng-click="delete(paramKeyId)">löschen bestätigen</button>
		<button ng-click="go('/employee')">abrechen</button>
	</section>
</body>
</html>