<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div ng-controller="EmployeeController" class="container-fluid">
    	<form novalidate class="simple-form" class="form">
		    <div class="form-group">
		    <label>Firstname: <input type="text" ng-model="employee.firstname"/></label>
		    </div>
		    <div class="form-group">

		    <label>Lastname: <input type="text" ng-model="employee.lastname" /></label>
		    </div>
		    <div class="form-group"><label>Gender:</label><label><input type="radio" ng-model="employee.gender" value="male" />male</label>
		    <label><input type="radio" ng-model="employee.gender" value="female" />female</label>
		    </div>
		    <div class="form-group">
		    <select name="singleSelect" id="singleSelect" ng-model="employee.sn">
		      <option value="">---Please select---</option> <!-- not selected / blank option -->
		      <option ng-repeat="row in listUser" value="{{row}}">{{row}} {{aEmployee[row].firstname}} {{aEmployee[row].lastname}}</option> <!-- interpolation -->
		    </select><br>
		    </div>
		    <div class="form-group">
		    <input type="button" ng-click="reset()" value="Reset"  />
		    <input type="submit" ng-click="update(employee)" value="Save"  />
		  </div>
		</form>
	</div>
</body>
</html>