<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section class="container-fluid">
		<h2>Mitarbeiter Übersicht <span class="pull-right" ng-click="go('/employee/0/edit')">neuen anlegen</span></h2>
		<table class="table table-responsive table-striped">
			<tr>
				<th>Vorname</th>
				<th>Nachname</th>
				<th>Chipnummer</th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="emp in aEmployee">
				<td>{{emp.firstname}}</td>
				<td>{{emp.lastname}}</td>
				<td>{{emp.sn}}</td>
				<td ng-click="go('/employee/' + emp.sn + '/edit')"><span class="btn btn-primary">bearbeiten</span></td>
				<td ng-click="go('/employee/' + emp.sn + '/delete')"><span class="btn btn-danger">löschen</span></td>
			</tr>
		</table>
	</section>
</body>
</html>