<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Time Tracking Raspberry Pi Projekt</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
</head>
<body ng-app="TimeTrackingPi">
	<header ng-controller="UserController">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						TimeTrackingPI
					</a>
				</div>
				<ul class="nav navbar-nav navbar-left">
					<li ng-show="getAuth()"><a href="/">Dashboard</a></li>
					<li ng-show="getAuth()"><a href="/#!/employee">Mitarbeiter verwalten</a></li>
					<li ng-show="getAuth()"><a href="/#!/timeline">Zeiterfassung</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-show="!getAuth()" class="active"><a href="/#!/login">Login</a></li>
					<li ng-show="getAuth()"><a href="/" ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<ng-view  class="row"></ng-view>
	<footer class="footer">
      <div class="container">
        <p class="text-muted">crank.zone - mm@crankdev.de</p>
      </div>
    </footer>
	<script src="/js/app.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>