<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section>
		<h2>Dashboard</h2>
		<section ng-controller="EmployeeController" class="container-fluid" ng-init="getEmployees()">
			<h3>Mitarbeiter Übersicht</h3>
			<div class="btn btn-default pull-right" ng-click="go('/keys/add')">Zeit eintragen</div>
			<table class="table table-responsive table-striped">
				<tr>
					<th>Chip Nummer</th>
					<th>Mitarbeiter</th>
					<th>Stunden {{getMonth().name}}</th>
					<th>Letzte Buchung</th>
					<th>-</th>
				</tr>
				<tbody >
					<tr ng-repeat="keyNumber in listUser">
							<td>
								{{keyNumber}}
							</td>
							<td ng-click="go('/employee/' + keyNumber)">
								<div>{{aEmployee[keyNumber].firstname||keyNumber}} {{aEmployee[keyNumber].lastname}}</div>
							</td>
							<td ng-controller="TimeLineController" ng-init="getEmployeeDaysInMonth(keyNumber,getMonth().n,getYear())" ng-click="go('/timeline/'+keyNumber+'/'+getYear()+'/'+getMonth().n)">{{listDays.timediff.hour + (listDays.timediff.day*24)}} Std. {{listDays.timediff.minute}} Min.</td>
							<td ng-controller="TimeLineController" ng-init="getEmployeeDaysInMonth(keyNumber,getMonth().n,getYear())" ng-click="go('/timeline/'+keyNumber+'/'+getYear()+'/'+getMonth().n)">{{listDays.lastLog|date:'dd.MM.yyyy HH:mm'}}</td>
							<td ng-click="go('/keys/' + keyNumber +'/delete')"><span class="btn btn-danger">löschen</span></td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>
</body>
</html>