<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section ng-controller="UserController" class="container-fluid">
		<h2>Login</h2>
		<form method="POST" ng-submit="sendLogin()">
			<label for="username"></label><input type="text" ng-model="user.username" id="username" placeholder="Benutzername" />
			<label for="userpassword"></label><input type="password" ng-model="user.password" id="userpassword" placeholder="*****" />
			<input type="submit" name="Senden">
		</form>
	</section>
</body>
</html>