<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller="DashboardController">
	<section ng-controller="EmployeeController" class="container-fluid">
		<h2>{{aEmployee[paramKeyId].firstname||paramKeyId}} {{aEmployee[paramKeyId].lastname}}- {{paramMonth}} - {{paramYear}} <span class="btn btn-danger pull-right" ng-click="deleteMonth(paramKeyId,paramMonth,paramYear)">Monat löschen</span></h2>
			<table class="table table-responsive" ng-controller="TimeLineController"><tr>
					<th>Datum</th>
					<th>Anfangszeit</th>
					<th>EndZeit</th>
					<th>Stunden</th>
					<th>Minuten</th>
				</tr>
				<tbody ng-repeat="(day,data) in listDays.data">
					<tr ng-repeat="r in data.rows" ng-show="r.display">
						<td>{{day|date: "EEE"}} {{day|date: 'dd.MM.yyyy'}}</td>
						<td>{{r.startDate| date: 'HH:mm:ss'}}</td>
						<td>{{r.endDate| date: 'HH:mm:ss'}}</td>
						<td>{{r.timediff.hour}}</td>
						<td>{{r.timediff.minute}}</td>
					</tr>
					<!-- total only on first line -->
					<tr class="totalDay" ng-class='{in:$last}'>
						<td>Gesamt Tag:</td>	
						<td></td>	
						<td></td>	
						<td>{{data.timediff.hour}}</td>	
						<td>{{data.timediff.minute}}</td>	
					</tr>
				</tbody>
				<tr class="totalMonth">
					<td>Gesamt Monat:</td>	
					<td></td>	
					<td></td>	
					<td>{{listDays.timediff.hour + (listDays.timediff.day*24)}}</td>	
					<td>{{listDays.timediff.minute}}</td>	
				</tr>
			</table>
	</section>
</body>
</html>