<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section ng-controller="EmployeeController" class="container-fluid" ng-init="getEmployees()">
		<h2>Zeiterfassung</h2>
		<div class="row" ng-repeat="keyNumber in listUser">
			<div class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#{{keyNumber}}">
				{{aEmployee[keyNumber].firstname}} {{aEmployee[keyNumber].lastname}} [{{keyNumber}}]
			</div>
			<div id="{{keyNumber}}" class="collapse">
				<div ng-controller="TimeLineController">
					<div ng-repeat="(year,dataYear) in listAll[keyNumber]">
						<div  class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#{{keyNumber}}_{{year}}_month" >{{year}}</div>
						<div class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse" id="{{keyNumber}}_{{year}}_month" class="collapse">
							<div ng-repeat="(month,dataMonth) in dataYear">
								<div ng-click="go('/timeline/'+keyNumber+'/'+year+'/'+month)">
									{{month}}									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>