<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section ng-controller="KeyController" class="container-fluid">
		<h2>Chip löschen {{paramKeyId}}</h2>
		<button ng-click="delete(paramKeyId)"  class="btn btn-danger">löschen bestätigen</button>
		<button ng-click="go('/')" class="btn btn-primary">abrechen</button>
	</section>
</body>
</html>