<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section ng-controller="KeyController" class="container-fluid">
		<h2>Chip Details {{paramKeyId}}</h2>
		<form novalidate class="simple-form" class="form">
		   
		    <div class="form-group">
		    <label>Datum: <input type="text" ng-model="timelineEntry.time" placeholder="2017-01-30 16:30:00" /></label>
		    </div>
		    <div class="form-group"  ng-controller="EmployeeController" ng-init="getList()">
		    <select name="singleSelect" id="singleSelect" ng-model="timelineEntry.sn">
		      <option value="">---Please select---</option> <!-- not selected / blank option -->
		      <option ng-repeat="row in listUser" value="{{row}}">{{row}} {{aEmployee[row].firstname}} {{aEmployee[row].lastname}}</option> <!-- interpolation -->
		    </select><br>
		    </div>
		    <div class="form-group">
		    <input type="button" ng-click="reset()" value="Reset"  />
		    <input type="submit" ng-click="addEntry()" value="Save"  />
		  </div>
		</form>
	</section>
</body>
</html>