<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller="EmployeeController" ng-init="getList()" >
	<section ng-controller="KeyController" class="container-fluid">
		<h2>Chip bearbeiten {{paramKeyId}}</h2>
		<div class="dropdown">
		    <a  class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">Click here to show calendar</a>
		    <ul class="dropdown-menu" role="menu">
		        <datetimepicker data-ng-model="data.dateDropDownLink" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"/>
		    </ul>
		</div>
	</section>
</body>
</html>